apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  argocd/app-name: chatbot2-apr25-3
  janus-idp.io/tekton: chatbot2-apr25-3
  backstage.io/kubernetes-id: chatbot2-apr25-3
  backstage.io/kubernetes-namespace: chatbot2-apr25-2
  app.kubernetes.io/part-of: chatbot2-apr25-3
resources:
  - initialize-namespace/
  - pvc.yaml
  - deployment-model-server.yaml
  - service-model-server.yaml
  - deployment.yaml
  - route.yaml
  - service.yaml
  - model-config.yaml
